*{

  margin: 0;
  padding: 0;}
body {

  color: #fb5;

  background-color: #334;
}

#allcontent{
  width: 980px;
  padding: 10px;
  margin: auto;}
a{
  text-decoration: none;}
a:link {

  color: #445;

  background-color: #eb6;
}

a:visited {

  color: #345;

  background-color: #eb6;
}

a:hover	 {

  color: #667;

  background-color: #fb5;
}

a:active {

  color: #778;

  background-color: #ec8;
}
header {

  color: #ec8;

  background-color: #334;

  border-color: #667;}

header nav {

  color: #455;

  background-color: #789;

  border-color: #667;
  border-width: .1em;
  border-style: solid;

  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}
header nav ul{
  border-color: #99a;
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}
li{
  display: inline;}
header nav li a{
  text-decoration: none;
  font-weight: bold;
  display: block;
  float: left;
  padding: .5em 2em;
  border-right: .1em solid;}
article {

  color: #223;

  background-color: #edc;
  border: .1em; solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

article img {

  border-width: .1em;

  border-style: solid;

  outline-width: .1em;

  outline-style: solid;  
  border-color: #ba9;

  outline-color: #dcb;
}






header nav a:link,header nav a:visited {

  color: #eef;
  background-color: transparent;

  border-color: #99a;
}

header nav a:hover {

  color: #445;

  background-color: #eb6;
}

header nav a:active {

  color: #667;

  background-color: #ec8;
}

#imagegallery a {

  background-color: transparent;
}
#hold{
  color: #667;

  background-color: #fb5;}